<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
     <!--[if lt IE 9]>
     <script src="/assets/javascripts/html5shiv.js"></script>
     <![endif]-->
    <title>PCM Industry</title>
    
  </head>

  <body>
    <div class = "container">
        <%= render "common/header"%> 
    </div>    

    <div class = "jumbotron">
      <div class="container">
        <h1>Welcome to PCM</h1>
        <p>This is an example to introduce this company.</p>
      </div>
    </div>
    
    <div class="container">
        <div class="row">
           <div class="col-xs-6 col-sm-4">
             <div class="text-centered">
               <h2>Horizontal Packing Machine</h2>
             </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie diam nec nulla pharetra congue. Nam felis orci, ullamcorper id imperdiet dictum, scelerisque at purus. Ut elementum mollis semper. Donec eu dignissim odio.</p>
           </div>
           <div class="col-xs-6 col-sm-4">
             <div class="text-centered">
               <h2>Mini-Size Filling & Packing Machine</h2>
             </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie diam nec nulla pharetra congue. Nam felis orci, ullamcorper id imperdiet dictum, scelerisque at purus. Ut elementum mollis semper. Donec eu dignissim odio.</p>
           </div>
           <div class="col-xs-6 col-sm-4">
             <div class="text-centered">
               <h2>Vertical Packing Machine</h2>
             </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie diam nec nulla pharetra congue. Nam felis orci, ullamcorper id imperdiet dictum, scelerisque at purus. Ut elementum mollis semper. Donec eu dignissim odio.</p>
           </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
              <h2>Contact Us</h2>
            </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie diam nec nulla pharetra congue. Nam felis orci, ullamcorper id imperdiet dictum, scelerisque at purus. Ut elementum mollis semper. Donec eu dignissim odio.</p>
          </div>
        </div>

        <div class="row">
           <div class="col-xs-6 col-sm-4">
             <div class="text-center">
               <h2>
                 Weighing & Packing Line
               </h2>
             </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie diam nec nulla pharetra congue. Nam felis orci, ullamcorper id imperdiet dictum, scelerisque at purus. Ut elementum mollis semper. Donec eu dignissim odio.</p>
           </div>

           <div class="col-xs-6 col-sm-4">
             <div class="text-center">
               <h2>
                 Standard & Multihead Weigher
               </h2>
             </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie diam nec nulla pharetra congue. Nam felis orci, ullamcorper id imperdiet dictum, scelerisque at purus. Ut elementum mollis semper. Donec eu dignissim odio.</p>
           </div>

           <div class="col-xs-6 col-sm-4">
             <div class="text-center">
               <h2>
                 Optional Device
               </h2>
             </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie diam nec nulla pharetra congue. Nam felis orci, ullamcorper id imperdiet dictum, scelerisque at purus. Ut elementum mollis semper. Donec eu dignissim odio.</p>
           </div>
        </div>
        <hr>
        <%= render "common/footer" %> 
    </div>
  </body>
</html>
