<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
     <!--[if lt IE 9]>
     <script src="/assets/javascripts/html5shiv.js"></script>
     <![endif]-->
    <title>PCM Industry</title>
    
  </head>

  <body>
    <div class = "container">
        <%= render "common/header"%> 

        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie diam nec nulla pharetra congue. Nam felis orci, ullamcorper id imperdiet dictum, scelerisque at purus. Ut elementum mollis semper. Donec eu dignissim odio. Quisque et nulla augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque at dolor vehicula, pharetra tortor eget, euismod odio. Praesent vulputate mauris ut est finibus, eu finibus arcu mollis. Aliquam erat volutpat. Maecenas commodo purus quis ligula condimentum, eu ornare leo ullamcorper. Vivamus nunc lectus, congue at accumsan ac, auctor quis erat. Aliquam efficitur tempus risus sit amet ornare. Ut luctus ornare enim eget condimentum. Pellentesque ligula nibh, sagittis non lobortis et, molestie in mi. Quisque in sapien quis turpis lobortis cursus.
        </p>

        <%= render "common/footer" %> 
    </div>
  </body>
</html>
