<footer id="main-footer">
  <div class="row">
     <div class="col-md-8">
       <div class="text-left">
         <p class="small">
           PCM Industry Address, TEL
         </p>
       </div>
     </div>
     <div id="col-md-4">
       <div class="text-right">
         <p class="small">
           © PCM Industry
         </p>
       </div>
     </div>
  </div>
</footer>
